//  Colors
// Black: #222B30
// blue: #52a1d8
// grey: #f2f2f2;

/* Mixin */

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}


/* Nav */

.navbar-toggle {
    position: fixed;
    top: 10px;
    z-index: 1111;
    right: 0px;
    margin-right: 15px;
    background: #fff;
    border-color: @navbar-transparent-border;
    border-color: @navbar-transparent-toggle-border-color;
    opacity: 1;
    padding: 12px;
    cursor: pointer;
    &:hover,
    &:focus {
        background: #fff;
        opacity: 1;
        .icon-bar {
            background-color: rgb(40, 102, 159);
        }
    }
    .icon-bar {
        background-color: #222B30;
        margin: 0px!important;
        display: block!important;
        width: 16px!important;
        height: 2px!important;
        border-radius: 1px!important;
    }
    .icon-bar + .icon-bar {
        margin-top: 3px!important;
    }
}

.navbar-brand {
    position: fixed;
    top: 10px;
    z-index: 1;
}

.app-header {
    padding: 0px!important;
    height: 100%!important;
}

.navbar-container {
    width: 100%!important;
}

.map-block {
    display: block;
    padding: 0px!important;
}

.map-container {
    width: 100%!important;
    padding: 0px!important;
    margin: 0px!important;
}

// Checkbox
.checkbox {
    margin-left: 25px!important;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 0px!important;
    width: 16px!important;
    height: 16px!important;
    top: 2px!important;
}


/*
 * Row and Coulms
 */

.map-row {
    padding: 0px!important;
    padding-right: 250px!important;
    margin: 0px!important;
    @media (max-width: @screen-sm-min) {
        padding-right: 0px!important;
    }
    .transition(all, 0.2s, ease);
    &.sidebar-visible {
        padding-right: 250px!important;
    }
}

.map-column {
    padding: 0px!important;
    margin: 0px!important;
}


/*
 * Sidebar
 */

.col-fixed-250 {
    // z-index must be '1031' beacuse fixed navbar is '1030' (see @zindex-navbar-fixed)
    z-index: 1031;
    padding-top: 32px!important;
    width: 250px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    .transition(all, 0.2s, ease);
    &.sidebar-visible {
        width: 250px!important;
    }
}

.stage-shelf-right {
    overflow: auto;
    position: absolute;
}

.stage-shelf {
    background: #222B30;
    color: #f2f2f2;
    .nav-bordered.nav-stacked > li > a {
        color: #f2f2f2;
        &:hover {
            color: #52a1d8;
        }
        &:focus {
            color: #f2f2f2;
            border-left: 4px solid #222B30;
        }
    }
    .nav-tabs > li > a {
        color: #f2f2f2;
        &:hover {
            color: #52a1d8;
        }
        &:focus {
            color: #f2f2f2;
        }
    }
    // Give the tabs something to sit on
    .nav-tabs {
        border-bottom: 1px solid @nav-tabs-border-color;
        > li {
            float: left;
            // Make the list-items overlay the bottom border
            margin-bottom: -1px;
            // Actual tabs (as links)
            > a {
                font-weight: 500;
                margin-right: 0px;
                line-height: @line-height-base;
                border-radius: 0px;
                &:hover {
                    border-color: transparent!important;
                    background-color: transparent!important;
                }
            }
            // Active state, and its :hover to override normal :hover
            &.active > a {
                &,
                &:hover,
                &:focus {
                    color: #52a1d8!important;
                    background-color: #222B30!important;
                    border: 1px solid transparent!important;
                    border-bottom-color: #52a1d8!important;
                    cursor: default;
                }
            }
        }
        // pulling this in mainly for less shorthand
        &.nav-justified {
            .nav-justified();
            .nav-tabs-justified();
        }
    }
    .nav-bordered.nav-stacked > li.active > a,
    .nav-bordered.nav-stacked > li.active > a:hover,
    .nav-bordered.nav-stacked > li.active > a:focus {
        border-left-color: #52a1d8;
        color: #52a1d8;
    }
}

.col-offset-250 {
    @media (max-width: @screen-sm-min) {
        padding-right: 0px!important;
    }
    @media (min-width: @screen-sm-min) {
        padding-right: 250px!important;
    }
    height:100%;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
}

.rtl {
    direction: rtl;
}

.rtl * {
    direction: ltr;
}

.stage {
    transition: transform 300ms cubic-bezier(0.2, 0.7, 0.5, 1);
    transform: translateX(0px);
}

.stage-open-left {
    transform: translateX(250px);
}

.stage-open-right {
    transform: translateX(-250px);
}


/* Maps.jsx */

.map-nav-container {
    height: auto;
    min-height: 100%;
    padding-bottom: 200px;
}

.map-nav-list {
    margin-left: 34px!important;
    margin-bottom: 20px!important;
    &> li + li {
        margin-left: 15px!important;
    }
    &>li > a {
        padding: 0px!important;
    }
}

.map-live {
    position: relative;
    overflow: hidden;
    margin-top: -200px;
    height: 200px;
    /* Negativer Wert der Footer-HÃ¶he */
    clear: both;
    .nav-divider {
        margin-top: 0px!important;
        margin-bottom: 15px!important;
    }
}

.map-live ul {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 150px;
    padding-bottom: 25px;
}

.slick-container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
}

.slick-prev {
    left: 0px!important;
    z-index: 1999;
}

.slick-next {
    right: 0px!important;
    z-index: 1999;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

// MAP
.leaflet-popup-pane {
    color: black;
}

.block-foreground {
    background: #222B30!important;
    padding: 60px!important;
}

// Buttons
.stage-toggle {
    &:hover {
        color: @stage-toggle-hover-color;
        text-decoration: none;
        background-color: @stage-toggle-hover-bg;
    }
    &:focus {
        color: @stage-toggle-color;
        background-color: @stage-toggle-bg;
        text-decoration: none;
        outline: 0px;
        outline-offset: 0px;
    }
}

.stage-toggle-active {
    color: @stage-toggle-hover-color!important;
    text-decoration: none;
    background-color: @stage-toggle-hover-bg!important;
}

.stage-toggle-left-bottom {
    bottom: 120px;
    top: auto;
}

.map-pointer {
    &:hover {
        color: #222B30!important;
        text-decoration: none!important;
        background-color: #f2f2f2!important;
    }
    &:focus {
        &:hover {
            color: #222B30!important;
            text-decoration: none!important;
            background-color: #f2f2f2!important;
        }
        color: #fff!important;
        background-color: rgba(0, 0, 0, 0.1)!important;
        outline: 0px!important;
        outline-offset: 0px!important;
    }
}

.map-pointer-active {
    color: #222B30;
    text-decoration: none;
    background-color: #f2f2f2;
    &:hover,
    &:focus {
        color: #222B30!important;
        text-decoration: none!important;
        background-color: #f2f2f2!important;
    }
}

// Spots Live
.liverowbutton {
    bottom: 10px;
    top: auto;
    position: absolute;
    left: 40px;
    z-index: 1111;
}

.livespots {
    position: absolute;
    bottom: 120px;
    top: auto;
    position: absolute;
    right: 20px;
    z-index: 100;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 250px;
}

.livespots > .col-md-12 {
    padding: 10px;
}

.livespots > .col-md-12 > .panel {
    margin: 0px!important;
}

.livespots-item {
    width: 200px;
    height: 150px;
    text-align: center;
    cursor: pointer;
    background-size: cover
}

.slider-decorator-2 {
    display: none;
}

//
// Burger menu custom styles
//
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    display: none;
}

.right .bm-burger-button {
    left: initial;
    right: 36px;
}

.bm-burger-bars {
    background: #222B30;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-menu {
    padding-top: 30px;
    background: #222B30;
    color: #f2f2f2;
    .nav-bordered.nav-stacked > li > a {
        color: #f2f2f2;
        &:hover {
            color: #52a1d8;
        }
        &:focus {
            color: #f2f2f2;
            border-left: 4px solid #222B30;
        }
    }
    .nav-tabs > li > a {
        color: #f2f2f2;
        &:hover {
            color: #52a1d8;
        }
        &:focus {
            color: #f2f2f2;
        }
    }
    // Give the tabs something to sit on
    .nav-tabs {
        border-bottom: 1px solid @nav-tabs-border-color;
        > li {
            float: left;
            // Make the list-items overlay the bottom border
            margin-bottom: -1px;
            // Actual tabs (as links)
            > a {
                font-weight: 500;
                margin-right: 0px;
                line-height: @line-height-base;
                border-radius: 0px;
                &:hover {
                    border-color: transparent!important;
                    background-color: transparent!important;
                }
            }
            // Active state, and its :hover to override normal :hover
            &.active > a {
                &,
                &:hover,
                &:focus {
                    color: #52a1d8!important;
                    background-color: #222B30!important;
                    border: 1px solid transparent!important;
                    border-bottom-color: #52a1d8!important;
                    cursor: default;
                }
            }
        }
        // pulling this in mainly for less shorthand
        &.nav-justified {
            .nav-justified();
            .nav-tabs-justified();
        }
    }
    .nav-bordered.nav-stacked > li.active > a,
    .nav-bordered.nav-stacked > li.active > a:hover,
    .nav-bordered.nav-stacked > li.active > a:focus {
        border-left-color: #52a1d8;
        color: #52a1d8;
    }
}

.bm-item-list a {
    padding: 0.8em;
    span {
        margin-left: 10px;
        font-weight: 700;
    }
}